*{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    overflow-x: hidden
}

.mb-menu {
    position: fixed;
    z-index: 0;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    padding-right: 10px
}

.wrapper {
    padding-top:70px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.mb-trigger {
    position: absolute;
}

label[for="mb-trigger"] {
    position: fixed;
    z-index: 4;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    border:1px solid grey;  
}

.mb-trigger:checked ~ .wrapper{
    left: -100px;
}

.logo {
    position: fixed;
    z-index: 2;
    height: 60px;
    min-width: 100%;
    background-color: white;
    background-image: url(logo.png);
    background-repeat: no-repeat;
}
